<footer>
    <div class="copyright-info">
        <p class="pull-right">
            <strong>Copyright &copy; 2018 by <a asp-host="www.facebook.com/manhlytran9x" target="_blank" >Manh Ly Tran</a>.</strong> All rights
            reserved.
        </p>
    </div>
    <div class="clearfix"></div>
</footer>